@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(225, 100%, 94%);
    background-image: url(images/pattern-background-desktop.svg);
    height: 100vh;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    font-family: 'Nunito Sans', sans-serif;
    
}

#card {
    background-color: white;
    height: 600px;
    width: 400px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.356);

}

#head {
    background-image: url(images/illustration-hero.svg);
    height: 30%;
    background-position: center center;
    background-size: cover;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

#order {
    /* border: 2px solid orange;  */
    height: 70%;
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;

}

#Titre1 {
    font-weight: bold;
}

#summary {
    /* border: 2px solid black; */
    width: 80%;
    text-align: center;
}

#annual {
    background-color: #F8F9FE;
    width: 80%;
    height: 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 5px;

}

#annualplan {
    /* border:1px dashed blue;   */
    height: 70%;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    justify-content: left;
}

#logo {
    /* border: 1px solid violet;  */
    background-image: url(images/icon-music.svg);
    width: 25%;
    height: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 10px;
}

#titre {
    /* border: 1px solid violet;  */
    height: 60%;
}

h4 {
    margin-bottom: 5px;
    font-weight: bold;
}

p {
    color: #858BA2;
}

#change {
    /* border: 1px solid black; */
    width: 30%;
    text-align: center;
    font-weight: bold;
}

a {
    text-decoration: none;
}

#payment {
    background-color: #766CF1;
    width: 80%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 30px #8a82dd;
    cursor: pointer;
}

#P {
    color: white;
    font-weight: bold;
}

#P:hover {
    color: rgb(184, 184, 184);
}

#cancel {

    /* border: 2px solid black; */
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#corder {
    color: black;
    font-weight: bold;
    cursor: pointer;
}

#cancel:hover {
    background-color: #766CF1 ;
}